<% if @supply_type_variation.errors.any? %>
  <div id="error_explanation" class="m-auto mb-2">
    <h2><%= @supply_type_variation.errors.count %>のエラーがこの生産者の保存を禁止しました</h2>

    <ul>
    <% @supply_type_variation.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="d-flex flex-wrap place-items-center justify-content-around align-middle gap-2">

  <div class="d-flex flex-fill flex-column place-items-center justify-content-around align-middle">
    <%= form.label :name, class: 'form-label small' %>
    <%= form.text_field :name, class: 'form-control form-control-sm' %>
  </div>

  <div class="d-flex flex-fill flex-column place-items-center justify-content-around align-middle">
    <%= form.label :handle, class: 'form-label small' %>
    <%= form.text_field :handle, class: 'form-control form-control-sm' %>
  </div>

  <div class="d-flex flex-fill flex-column place-items-center justify-content-around align-middle">
    <%= form.label :default_container_count, class: 'form-label small' %>
    <%= form.number_field :default_container_count, class: 'form-control form-control-sm' %>
  </div>

  <div class="d-flex flex-fill flex-column place-items-center justify-content-around align-middle">
    <%= form.label :supply_type_id, class: 'form-label small' %>
    <%= form.collection_select :supply_type_id, 
                            @supply_types, :id, :to_s, 
                            { selected: @supply_type_variation.supply_type_id }, 
                            { class: 'form-select form-select-sm' } %>
  </div>
</div>  

<div class="d-flex justify-content-end align-items-center align-middl mt-2 me-1">
  <div class="form-check form-switch">
    <%= form.check_box :active, 
                  { class: 'form-check-input', 
                    checked: @supply_type_variation.active?,
                    data: {
                      action: 'click->oroshi--dashboard#toggleActive',
                      refresh_targets: 'supply_types'
                    } } %>
    <%= form.label :active, class: 'form-check-label' %>
  </div>
</div>
